# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
temp_patch.diff
temp_snippet.text
template.html
# Vercel
.vercel
.env
.env.local
.env.production.local

# Build
dist/
build/
